@charset "utf-8";

/* Overrides bootstrap's default colors */
:root {
    --bs-body-bg: #7296E3;
    --bs-secondary-color: #172C59;
}

/* Roboto CSS Classes */
.roboto-font {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

/* Modifies the color of disabled and hovered elements in the navbar. --bs-emphasis-color-rgb is the default color of navbar text*/
.navbar {
    --bs-navbar-disabled-color: rgba(var(--bs-emphasis-color-rgb), 0.55);
    --bs-navbar-hover-color: rgba(var(--bs-emphasis-color-rgb), 0.6);
}

/* Applies nav hover color to hovered elements in the navbar */
.navbar-nav:hover .nav-link.active:hover {
    color: var(--bs-nav-link-hover-color);
}

/* Bolds disabled navbar items */
.disabled {
    font-weight: 800;
}

/* White background behind text */
.white-bg {
    background-color: white;
    padding: 2em;
    border-radius: 5px;
}

/* Default image styles */
img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin: 1em;
}

/* Image sizes */
.img-lg {
    max-width: 65%;
}
.img-md {
    max-width: 55%;
}
.img-sm {
    max-width: 45%;
}

/* Floating */
.right {
    float: right;
}
.left {
    float: left;
}
