@charset "utf-8";

/* Overrides bootstrap's default colors */
:root {
    --bs-body-bg: #3d6ed9;
    --bs-secondary-color: #1b3366;
}

/* Roboto CSS Classes */
.roboto-font {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

/* Modifies the color of disabled and hovered elements in the navbar. --bs-emphasis-color-rgb is the default color of navbar text*/
.navbar {
    --bs-navbar-disabled-color: rgba(var(--bs-emphasis-color-rgb), 0.4);
    --bs-navbar-hover-color: rgba(var(--bs-emphasis-color-rgb), 0.6);
}

/* Applies nav hover color to hovered elements in the navbar */
.navbar-nav:hover .nav-link.active:hover {
    color: var(--bs-nav-link-hover-color);
}

/* Bolds disabled navbar items */
.disabled {
    font-weight: 800;
}
